.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

button {
    font size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border radius: 4px;
    text-align: center;
    margin-right: 30px;
    opacity: 1.0;
}

button:hover {
    opacity: 0.9;
}
