.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

section.filters button {
    font size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border radius: 4px;
    text-align: center;
    margin-right: 30px;
    opacity: 1.0;
}

section.filters button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-right: 0;
}

.amenities {
    height: 100%;
    width: 100;
    margin-left: auto;
}

h3 {
    font-weight: 600;
    margin: 0px;
    padding; 0px;
    margin-top: 17px;

}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding; 0px;
}
