.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

section.filters button {
    font size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border radius: 4px;
    text-align: center;
    margin-right: 30px;
    opacity: 1.0;
}

section.filters button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-right: 0;
}

.amenities {
    height: 100%;
    width: 100;
    margin-left: auto;
}

h3 {
    font-weight: 600;
    margin: 0px;
    padding; 0px;
    margin-top: 17px;

}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding; 0px;
}

.popover {
    display: none;
    color: #FAFAFA;
    width: 90%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding-left: 10%
}

.locations li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.sublist {
    list-style-type: none;
    margin-bottom: 10%
}

.popover h2 {
    font-size: 16px;
}

.amenities ul {
    padding-top: 5%;
    padding-bottom: 5%;
}
.amenities li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.locations:hover .popover {
    display: block;
    position: relative;
    z-index: 100;
}

.amenities:hover .popover {
    display: block;
    position: relative;
    z-index: 100;
}
