.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    font-size: 30px;
    height: 30px;
    width: 100%;
    padding-left: 3%;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}

.title_of_place {
    display: flex;
    height: 30px;
    text-align: center;
    font-size: 30px;
    margin-top: auto;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 80px;
    width: 100%;
}

.max_guest {
    background-image: url("../images/icon_group.png");
    background-position: top;
    background-repeat: no-repeat;
}

.max_guest p {
    margin-top: 50px
}
.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-position: top;
    background-repeat: no-repeat;
}

.number_rooms p {
    margin-top: 50px
}
.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-position: top;
    background-repeat: no-repeat;
}

.number_bathrooms p {
    margin-top: 50px
}

.user {
    margin-right: auto;
}

.ownerBold {
    font-weight: bold;
}
.tripleDigits {
    font-size: 25px;
}
